footer {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  background-color: gray;
  background-image: linear-gradient(to right top, #ffffff, #d7d7dd, #c6c6cc);
  color: black;
  font-family: "Sacramento", san-serif;
  font-size: 18px;
}

.menu {
  margin-left: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 700px) {
  .menu {
    margin-top: 50px;
  }
}

.menu_hamburger {
  font-family: "Sacramento", san-serif;
}
@media screen and (min-width: 700px) {
  .menu_hamburger {
    display: none;
  }
}

.menu_checkbox {
  position: absolute;
  left: -9999px;
}
.menu_checkbox:checked ~ .menu_list {
  display: block;
}

.menu_list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}
@media screen and (min-width: 700px) {
  .menu_list {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    place-items: center;
  }
}

.menu_item {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 700px) {
  .menu_item {
    border: none;
  }
}

.menu_item--click {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 700px) {
  .menu_item--click {
    border-bottom: 3px solid black;
  }
}

.menu_link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-family: "Sacramento", san-serif;
  font-size: 18px;
}
.menu_link:hover {
  background-color: lightgray;
}
@media screen and (min-width: 700px) {
  .menu_link {
    font-size: 26px;
  }
  .menu_link:hover {
    border-bottom: 3px solid black;
    background-color: transparent;
  }
}

.hero {
  border-bottom: 1px solid black;
}
.hero .hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .hero_icon_img {
  width: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 550px) {
  .hero .hero_icon_img {
    width: 50px;
    margin-bottom: 20px;
  }
}
.hero .hero_text {
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Sacramento", san-serif, cursive;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  align-self: center;
}
@media screen and (min-width: 550px) {
  .hero .hero_text {
    font-size: 60px;
  }
}

.hero_text_link {
  text-decoration: none;
  color: black;
}

.form_body {
  padding: 10px;
}
.form_body input {
  padding: 10px;
  border: 1px solid gray;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 4px;
  grid-column: 1/span 1;
  grid-row: 3;
  width: 250px;
  box-shadow: 1px 1px 8px lightgray;
}
@media screen and (min-width: 550px) {
  .form_body input {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .form_body input {
    width: 500px;
    font-size: 20px;
  }
}
.form_body textarea {
  border-radius: 4px;
  border: 1px solid gray;
  margin-top: 10px;
  padding: 5px;
  width: 250px;
  padding: 10px;
  font-size: 15px;
}
@media screen and (min-width: 550px) {
  .form_body textarea {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .form_body textarea {
    width: 500px;
  }
}
.form_body label {
  font-size: 16px;
  font-family: "Montserrat", san-serif;
  display: block;
  font-size: 16px;
  color: gray;
  margin-bottom: 5px;
}
@media screen and (min-width: 900px) {
  .form_body label {
    font-size: 20px;
  }
}

button {
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
  font-size: 16px;
  border: none;
  font-family: "Montserrat", san-serif;
  width: 270px;
}
button:hover, button:active {
  background-color: black;
}
@media screen and (min-width: 550px) {
  button {
    width: 320px;
  }
}
@media screen and (min-width: 900px) {
  button {
    font-size: 20px;
    width: 520px;
  }
}

.form_container {
  width: 100%;
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
@media screen and (min-width: 550px) {
  .form_container {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (min-width: 1000px) {
  .form_container {
    grid-column: 2/span 1;
    grid-row: 2/span 4;
    align-self: center;
  }
}

.form_title {
  margin-bottom: 20px;
}
.form_title h1 {
  font-family: "Montserrat", san-serif;
}

body {
  margin: 0px;
}

.middle {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.middle_header {
  text-align: center;
  font-family: "Montserrat", san-serif;
  margin-bottom: 40px;
  color: gray;
  font-size: 15px;
}
.middle_header h1::before {
  content: "";
  width: 60px;
  height: 2.5px;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, lightgray, gray);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: 30px;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 350px));
  justify-content: center;
  gap: 10px;
}
.portfolio img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .portfolio {
    grid-template-columns: repeat(2, minmax(150px, 350px));
  }
}
@media screen and (min-width: 800px) {
  .portfolio {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

.wedding_img {
  grid-column-start: 1;
  grid-column-end: 2;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.grid_item {
  position: relative;
}

.grid_text {
  position: absolute;
  bottom: 6%;
  left: 30%;
  font-family: "Sacramento", san-serif;
  font-size: 18px;
  color: #606263;
  font-weight: 400;
}
@media screen and (min-width: 500px) {
  .grid_text {
    font-size: 3vw;
  }
}
.grid_text p {
  margin: 0;
}

.child {
  grid-column-start: 2;
  grid-column-end: 3;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.portrait {
  grid-column-start: 3;
  grid-column-end: 4;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.animals {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.product {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.food {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  place-self: center;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px lightgray;
}

.photos_food {
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
}
.photos_food img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .photos_food {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .photos_food {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

.photos_child,
.wedding_photos,
.portrait_photos,
.animal_photos,
.product_photos {
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 350px));
  gap: 10px;
  justify-items: center;
}
.photos_child img,
.wedding_photos img,
.portrait_photos img,
.animal_photos img,
.product_photos img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .photos_child,
.wedding_photos,
.portrait_photos,
.animal_photos,
.product_photos {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .photos_child,
.wedding_photos,
.portrait_photos,
.animal_photos,
.product_photos {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

.photos_child img,
.wedding_photos img,
.photos_food img,
.portrait_photos img,
.animal_photos img,
.product_photos img {
  width: 100%;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media screen and (min-width: 550px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.services_box {
  outline-offset: -10px;
  font-family: "Montserrat", san-serif;
  padding: 10px;
  box-shadow: 1px 1px 4px lightgray;
  color: gray;
  border-radius: 5px;
}
.services_box h1 {
  text-align: center;
  color: black;
}
.services_box li {
  margin-bottom: 10px;
  font-size: 15px;
  list-style-image: url(/images/header_icon_small.svg);
}

.pricelist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media screen and (min-width: 550px) {
  .pricelist {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .pricelist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pricelist_text {
  outline-offset: -10px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Montserrat", san-serif;
  box-shadow: 1px 1px 3px lightgray;
  background-color: white;
}
.pricelist_text h1 {
  text-align: center;
  color: black;
  font-style: italic;
  margin-bottom: 10px;
}
.pricelist_text h2 {
  text-align: center;
  color: black;
  margin-top: 0;
}
.pricelist_text li {
  margin-bottom: 10px;
  font-size: 15px;
  list-style-image: url(/images/header_icon_small.svg);
  color: gray;
}

.about_photo img {
  width: 100%;
}

.about_text {
  font-family: "Montserrat", san-serif;
  text-align: start;
  font-size: 18px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 550px) {
  .about_text {
    text-align: center;
  }
}
.about_text p {
  margin-top: 0;
  color: gray;
}
.about_text a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-style: italic;
}
.about_text h1 {
  color: black;
  font-size: 20px;
}
@media screen and (min-width: 550px) {
  .about_text h1 {
    text-align: center;
    font-size: 25px;
  }
}

.ctc_map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  grid-row: 1;
  border: 2px solid lightgrey;
}
@media screen and (min-width: 550px) {
  .ctc_map {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 1000px) {
  .ctc_map {
    padding-bottom: 30.25%;
  }
}

.ctc_map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ctc_text1 {
  grid-row: 2;
  font-family: "Montserrat", san-serif;
  color: black;
  font-size: 16px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .ctc_text1 {
    font-size: 20px;
  }
}
.ctc_text1 li {
  list-style: none;
  font-family: "Montserrat", san-serif;
  margin-bottom: 10px;
}
@media screen and (min-width: 550px) {
  .ctc_text1 li {
    margin-bottom: 20px;
  }
}
.ctc_text1 .ctc_phone {
  list-style-image: url(/images/phone_icon.svg);
}
.ctc_text1 .ctc_mail {
  list-style-image: url(/images/mail_icon.svg);
}
.ctc_text1 .ctc_address {
  list-style-image: url(/images/home_icon.svg);
}
.ctc_text1 ul {
  padding-left: 20px;
}
.ctc_text1 a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */