@use 'colors';
@use 'fonts';
@use 'align';

body {
  margin: 0px;
}

.middle {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

.middle_header {
  text-align: align.$align_center;
  font-family: fonts.$form_font;
  margin-bottom: 40px;
  color: colors.$color_grey;
  font-size: 15px;

  h1::before {
    content: "";
    width: 60px;
    height: 2.5px;
    display: block;
    margin: auto;
    background-image: linear-gradient(
      to right,
      colors.$color_light,
      colors.$color_grey
    );
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: align.$align_center;

  @media screen and (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: 40px;
  }
}
