@use "colors";
@use "align";
@use "fonts";

.form_body {
  padding: 10px;

  input {
    padding: 10px;
    border: 1px solid colors.$color_grey;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    grid-column: 1 / span 1;
    grid-row: 3;
    width: 250px;
    box-shadow: 1px 1px 8px colors.$color_light;

    @media screen and (min-width: 550px) {
      width: 300px;
    }

    @media screen and (min-width: 900px) {
      width: 500px;
      font-size: 20px;
    }
  }

  textarea {
    border-radius: 4px;
    border: 1px solid colors.$color_grey;
    margin-top: 10px;
    padding: 5px;
    width: 250px;
    padding: 10px;

    @media screen and (min-width: 550px) {
      width: 300px;
    }

    @media screen and (min-width: 900px) {
      width: 500px;
    }
  }

  label {
    font-size: 16px;
    font-family: fonts.$form_font;
    display: block;
    font-size: 16px;
    color: colors.$color_grey;
    margin-bottom: 5px;

    @media screen and (min-width: 900px) {
      font-size: 20px;
    }
  }
}

button {
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: colors.$color_grey;
  color: colors.$color_white;
  font-size: 16px;
  border: none;
  font-family: fonts.$body_font;
  width: 270px;

  @media screen and (min-width: 550px) {
    width: 320px;
  }

  @media screen and (min-width: 900px) {
    font-size: 20px;
    width: 520px;
  }
}

.form_container {
  width: 100%;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

  @media screen and (min-width: 550px) {
    grid-column: 2;
    grid-row: 2;
  }

  @media screen and (min-width: 1000px) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 4;
    align-self: align.$align_center;
  }
}

.form_title {
  margin-bottom: 20px;

  h1 {
    font-family: fonts.$form_font;
  }
}
