
.ctc_map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    grid-row: 1;
    border: 2px solid lightgrey;
    
  
    @media screen and (min-width: 550px) {
      grid-column: 1/ span 2;
      
    }

    @media screen and (min-width: 1000px){
      padding-bottom: 30.25%;
    }
  
  }
  
  .ctc_map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
    