@use 'colors';
@use 'align';
@use 'fonts';


.portfolio {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 350px));
    justify-content: align.$align_center;
    gap: 10px;

  
    img {
      width: 100%;
    }
  
    @media screen and (min-width: 550px) {
      grid-template-columns: repeat(2, minmax(150px, 350px));
    }
  
    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
  }
  
  .wedding_img {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .grid_item {
    position: relative;  
  }
  
  .grid_text {
    position: absolute;
    bottom: 6%;
    left: 30%;
    font-family: fonts.$menu_font;
    font-size: 18px;
    color: colors.$color_photo;
    font-weight: 400;
  
    @media screen and (min-width: 500px) {
      font-size: 3vw;
    }
  
    p {
      margin: 0;
    }
  }
  
  .child {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .portrait {
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .animals {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .product {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .food {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    place-self: align.$align_center;
    border: 1px solid colors.$color_light;
    box-shadow: 1px 1px 2px colors.$color_light;
  }
  
  .photos_food {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    gap: 10px;
    justify-items: align.$align_center;

    img {
      width: 100%;
    }
    @media screen and (min-width: 550px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      
    }
    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(3, minmax(150px, 1fr));

  }
}


  .photos_child,
  .wedding_photos,
  .portrait_photos,
  .animal_photos,
  .product_photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    justify-items: align.$align_center;
  
    img {
      width: 100%;
    }
  }
  
  .photos_child img,
  .wedding_photos img,
  .photos_food img,
  .portrait_photos img,
  .animal_photos img,
  .product_photos img {
    width: 100%;
  }
  