@use 'colors';
@use 'align';
@use 'fonts';
@use 'footer';
@use 'menu';
@use 'hero';
@use 'form';
@use 'basic';
@use 'portfolio';
@use 'services';
@use 'pricelist';
@use 'about';
@use 'map';
@use 'ctc_text';